@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
:root {
  --color-primary-dark: #1b4332; 
  --color-primary: #2d6a4f; 
  --color-primary-light: #40916c;

  --color-accent-dark: #52b788;  
  --color-accent: #74c69d;   
  --color-accent-light: #95d5b2; 

  --color-background-dark: #081c15; 
  --color-background-light: #d8f3dc; 
  --color-background-offwhite: #b7e4c7; 

  --color-text-primary: #081c15; 
  --color-text-on-dark: #d8f3dc; 

  --color-vista-blue: #95d5b2;
  --color-fringy-flower: #b7e4c7;
  --color-green-pea: #2d6a4f;
  --color-everglade: #1b4332;
  --color-granny-apple: #d8f3dc;
  --color-ocean-green: #52b788;
  --color-black-bean: #081c15;
  --color-eucalyptus: #40916c;
  --color-silver-tree: #74c69d;
}

body {
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Inter'; 
}

:root {
  --gradient-stops: #95d5b2, #b7e4c7, #2d6a4f, #1b4332, #d8f3dc, #52b788, #081c15, #40916c, #74c69d;

  --gradient-top: linear-gradient(0deg, var(--gradient-stops));
  --gradient-right: linear-gradient(90deg, var(--gradient-stops));
  --gradient-bottom: linear-gradient(180deg, var(--gradient-stops));
  --gradient-left: linear-gradient(270deg, var(--gradient-stops));

  --gradient-top-right: linear-gradient(45deg, var(--gradient-stops));
  --gradient-bottom-right: linear-gradient(135deg, var(--gradient-stops));
  --gradient-top-left: linear-gradient(225deg, var(--gradient-stops));
  --gradient-bottom-left: linear-gradient(315deg, var(--gradient-stops));

  --gradient-radial: radial-gradient(var(--gradient-stops));
}
html {
  scroll-behavior: smooth;
}
